<!DOCTYPE html>
<html ng-app="visorSampleApp">
<head>
    <link rel="stylesheet" type="text/css" href="../lib/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../lib/style.css">
    <script src="../lib/angular.js"></script>
    <script src="../lib/angular-cookies.js"></script>
    <script src="../lib/angular-route.js"></script>
    <script src="../../release/visor.js"></script>
    <script src="app/app.js"></script>
    <title>visor sample app</title>
</head>
<body ng-controller="MainCtrl">
    <div class="navbar navbar-default">
        <div class="navbar-inner">
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-left">
                    <li ng-class="{active: $route.current.originalPath == '/home'}" class-if-restricted="/home"><a href="#/home">Home</a></li>
                    <li ng-class="{active: $route.current.originalPath == '/private'}" class-if-restricted="/private"><a href="#/private">Private</a></li>
                    <li ng-class="{active: $route.current.originalPath == '/admin'}" class-if-restricted="/admin"><a href="#/admin">Admin</a></li>
                </ul>
                <div class="nav navbar-nav navbar-right" ng-if="!user" ><a href="#/login">Login</a></div>
                <div class="nav navbar-nav navbar-right" ng-if="user" >You are logged in. <a ng-click="logout()">Logout</a></div>
            </div>
        </div>
    </div>
    <div ng-view class="container" ></div>
</body>
</html>